.responses {
  align-items: center;
  display: grid;
  height: 100vh;
  text-align: center;
}

.responses .container {
  border-image: linear-gradient(180deg, rgba(14,16,255,1) 22%, rgba(71,219,248,1) 100%) 1;
  border-left: 3px solid var(--blue-color);
  column-gap: 80px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin: 0 80px;
  padding: 0 140px;
  row-gap: 10px;
}

.responses .cta {
  margin: 30px 0;
}

@media screen and (max-width: 980px) {
  .responses {
    height: auto;
    margin-bottom: 50px;
  }

  .responses .container {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 560px) {
  .responses .container {
    border: none;
  }
}

@media screen and (max-width: 780px) {
  .responses .container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 400px) {
  .responses .container {
    gap: 30px;
    margin: 0 0 50px 0;
  }
}