.form {
  margin: 20px auto;
}

.form .container {
  border-image: linear-gradient(180deg, rgba(14,16,255,1) 22%, rgba(71,219,248,1) 100%) 1;
  border-left: 3px solid var(--blue-color);
  display: grid;
  gap: 50px;
  justify-content: center;
  margin: 40px 80px;
}

.form .form-title {
  color: var(--blue-light-color);
  margin: 20px 0;
  max-width: 400px;
  text-align: center;
  width: 100%;
}

.form .form-title h2, .form .form-title span {
  font-family: 'Neue DemiBold';
  font-size: 25px;
}

.form-title strong {
  color: var(--white-color);
}

.input {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input::placeholder {
  color: var(--black-color);
  font-weight: bold;
}

.data-inputs {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  margin: 5px 0;
}

.container .input {
  border-bottom: 2px solid var(--blue-color);
  border-radius: 10px;
  border: none;
  color: var(--black-color);
  font-weight: bold;
  max-width: 300px;
  padding: 10px;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
}

.form .container .button {
  text-align: center;
}

.form .terms {
  margin: 20px auto;
}

.form .terms label {
  font-family: 'Neue DemiBold';
  font-weight: bold;
  margin-left: 5px;
}

.form .terms a {
  color: var(--blue-color);
  text-decoration: none;
}

.form .terms a:hover {
  text-decoration: underline;
}

.question-content {
  box-sizing: border-box;
  font-size: 18px;
}

.question-title {
  font-family: 'Neue DemiBold';
  font-size: 20px;
  margin-bottom: 20px;
}

.question-options {
  box-sizing: content-box;
  margin: 3px 0;
}

.question-options > * {
  cursor: pointer;
}

.question-options label {
  margin-left: 5px;
}

.question-options:hover > label {
  color: var(--blue-color);
}

@media screen and (max-width: 980px) {
  .form .container {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 560px) {
  .form .container {
    border: none;
    padding-left: 0;
  }
}
@media screen and (max-width: 400px) {
  .form {
    font-size: 15px;
  }

  .form .container {
    margin: 30px 0;
    padding: 0 30px;
  }

  .form .form-title h2, .form .form-title span {
    font-size: 20px;
    line-height: 1;
    margin-top: 40px;
    max-width: 280px;
  }

  .container .input {
    width: 90%;
  }

  .container .question-content {
    font-size: 15px;
  }
}

