.form .container.title {
  border: none;
  margin: auto;
  color: var(--blue-light-color);
  padding: 0;
}

.form .container.title h2, .form .container.title span {
  font-family: 'Neue DemiBold';
  font-size: 20px;
  margin: 20px 0;
  max-width: 400px;
  text-align: center;
  width: 100%;
}

hr {
  border: none;
  border-bottom: 1px solid var(--yellow-light-color);
}

.subquestions {
  margin-left: 10px;
}

.subquestions hr {
  border: none;
  border-bottom: 1px solid var(--blue-color);
  margin: 10px 0;
}

.subquestion-content {
  margin-top: 10px;
  font-size: 15px;
}

.subquestion-title {
  font-family: 'Neue DemiBold';
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.subquestion-options > * {
  cursor: pointer;
}

.subquestion-options:hover > label {
  color: var(--blue-color);
}

@media screen and (max-width: 400px) {
  .form .container.title {
    font-size: 16px;
    max-width: 300px;
    width: 100%;
  }
}
