.form .container.title {
  border: none;
  margin-bottom: 0;
  display: block;
  text-align: center;
  margin: auto;
  font-size: 20px;
  font-weight: 600;
  max-width: 400px;
  width: 100%;
  color: var(--blue-light-color);
  padding: 0;
}
@media screen and (max-width: 400px) {
  .form .container.title {
    font-size: 16px;
    max-width: 300px;
    width: 100%;
  }
}
