.hero {
  align-items: center;
  display: grid;
  height: 100vh;
  margin: auto;
}

.hero .container {
  align-items: center;
  border-image: linear-gradient(180deg, rgba(14,16,255,1) 22%, rgba(71,219,248,1) 100%) 1;
  border-left: 3px solid var(--blue-color);
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  margin: 0 80px;
}

.main-message {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: var(--quaternary-font);
  font-size: 60px;
}

.main-message h1 {
  text-transform: uppercase;
  background: linear-gradient(180deg, rgba(71,219,248,1) 22%, rgb(27, 112, 129) 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1;
  font-size: 80px;
  margin-bottom: 40px;
}

@media screen and (max-height: 600px) {
  .main-message h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 980px) {
  .hero {
    height: auto;
  }

  .hero .container {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    height: auto;
  }

  .hero .container {
    margin: 10px;
  }
}

@media screen and (max-width: 560px) {
  .hero .container {
    border: none;
    padding: 0;
  }
}

@media screen and (max-width: 550px) {
  .hero {
    border: none;
    margin: 20px;
  }

  .main-message h1 {
    font-size: 50px;
  }

}

@media screen and (max-width: 400px) {
  .hero .main-message {
    justify-content: center;
  }

  .main-message h1 {
    font-size: 40px;
  }

  .hero .container {
    margin: 0;
    padding: 0;
  }
}